[Unit]
Description=Internet Dynamic DNS Client
ConditionPathExists=/etc/inadyn.conf
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/home/linuxbrew/.linuxbrew/opt/inadyn/sbin/inadyn --config=/etc/inadyn.conf --foreground

[Install]
WantedBy=multi-user.target
